<%- include('partials/header'); -%>
<%- include('partials/nav'); -%>

<h1>Login</h1>
<div class="create-blog content">
	<form action="/login">
		<label for="email"></label>
		<input type="text" id="email" name="email" placeholder="your email" required>
		<label for="password"></label>
		<input type="password" id="password" name="password" placeholder="your password" required>
		<button>Login</button>
	</form>
</div>

<%- include('partials/footer'); -%>

<script>
	const form = document.querySelector('form');
  
	form.addEventListener('submit', (e) => {
	  e.preventDefault();
  
	  // get values
	  const email = form.email.value;
	  const password = form.password.value;
  
	  console.log(email, password);
	});
  </script>