<%- include('partials/header'); -%>
	<%- include('partials/nav'); -%>

		<h1>Sign up</h1>

		<form action="/signup">
			<label for="email"></label>
			<input type="text" id="email" name="email" placeholder="your email" required>

			<div class="email error"></div>

			<label for="password"></label>
			<input type="password" id="password" name="password" placeholder="your password" required>

			<div class="password error"></div>

			<button>Sign up</button>

		</form>

		<%- include('partials/footer'); -%>

			<script>
				const form = document.querySelector('form');
				const emailerror = document.querySelector('.email.error');
				const passworderror = document.querySelector('.password.error');
				const loggedid = document.querySelector('.logedid');

				form.addEventListener('submit', async (e) => {
					e.preventDefault();

					// get values
					const email = form.email.value;
					const password = form.password.value;

					// reset errors
					emailerror.textContent = '';
					passworderror.textContent = '';

					try {
						const response = await fetch('/signup', {
							method: 'POST',
							body: JSON.stringify({ email, password }),
							headers: { 'Content-Type': 'application/json' }
						});

						// response will be either data.userid or data.errors (from signup_post middleware)
						// .json() method comes with Fetch API that most browsers can process
						const data = await response.json();
						console.log('data: ', data);

						if (data.errors) {
							console.log('received errors: ', data.errors);
							emailerror.textContent = data.errors.email;
							passworderror.textContent = data.errors.password;
						};

						if (data.userid) {
							console.log('received id: ', data.userid);
							location.assign('/');
						};
					}
					catch (err) {
						console.log(err);
					};
				});
			</script>